APP_NAME=CeritaKu
APP_ENV=production
APP_KEY=base64:UarCDcxnDM+cvrOIzbDentLzXIgpmCLQx/kbsu+8DH0=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://ceritaku-j5z5.vercel.app

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

CACHE_STORE=array
SESSION_DRIVER=cookie

BCRYPT_ROUNDS=12

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=gt8-yp.h.filess.io
DB_PORT=61002
DB_DATABASE=ceritaku_sometimeon
DB_USERNAME=ceritaku_sometimeon
DB_PASSWORD=f40a903b2419886e49385b33dffa93a3222c7af8
